.icon-android {
    display: inline-block;
    background-image: url(../img/sprite.png);
    background-position: 0px -65px;
    width: 32px;
    height: 32px;
}

.icon-ios {
    display: inline-block;
    background-image: url(../img/sprite.png);
    background-position: -52px -65px;
    width: 32px;
    height: 32px;
}

.icon-logo_zw {
    display: inline-block;
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 106px;
    height: 45px;
}

.icon-other {
    display: inline-block;
    background-image: url(../img/sprite.png);
    background-position: -126px 0px;
    width: 32px;
    height: 32px;
}

.icon-state {
    display: inline-block;
    background-image: url(../img/sprite.png);
    background-position: -126px -52px;
    width: 32px;
    height: 32px;
}

.icon-windows {
    display: inline-block;
    background-image: url(../img/sprite.png);
    background-position: 0px -117px;
    width: 32px;
    height: 32px;
}