.filter-tool {
    height: auto !important;
    min-height: 32px;
    height: 32px;
    padding: 15px 10px 0 20px;
    background: #f7f7f7;
    border-bottom: 1px solid #bfbfbf;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
    background: #dadada;
    background-image: linear-gradient(to bottom, #fcfcfc, #f2f2f2);
}

.filter-tool-top {
    padding: 0 0 20px 0;
    input {
      vertical-align: top
  }
}


.filter-tool-txt {
    font-size: 22px;
    line-height: 32px;
    em {
      margin-left: 10px
  }
}


.filter-tool-select .select-button {
    margin-right: 20px
}

.filter-tool-select {
  margin-bottom: 20px
}

